---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Популярні</span></h2>
    </div>
    <div class="row">
        {% for post in site.posts %}
        {% if post.featured == true %}
        {% include featuredbox.html %}
        {% endif %}
        {% endfor %}
    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Усі товари та послуги</span></h2>
    </div>
    <div class="row listrecent">
        {% for post in paginator.posts %}
        {% include postbox.html %}
        {% endfor %}
    </div>
    <div style="text-align: right;">
        <a href="{{ site.baseurl }}/categories/services.html" class="btn btn-primary-custom">Дивитись усі</a>
    </div>
</section>

<!-- Guide Index
================================================== -->
<section class="recent-posts">
    <div class="section-title">
        <h2><span>Наші гайди</span></h2>
    </div>
    <div class="row listrecent">
        {% for guide in site.categories['Гайди'] %}
        {% include youtubePlayer.html id=guide.youtubeId %}
        {% endfor %}
    </div>
    <div style="text-align: right;">
        <a href="{{ site.baseurl }}/categories/guides.html" class="btn btn-primary-custom">Дивитись усі</a>
    </div>
</section>
