---
title: "Categories"
layout: default
permalink: "/categories/consoles.html"
---

<div class="row listrecent">
    <div class="section-title col-md-12 mt-4">
        <h2 id="services">Категорія <span class="text-capitalize">Консолі</span></h2>
    </div>

    {% assign services_category = site.categories['Консолі'] %}
    {% if services_category %}
    {% assign pages_list = services_category %}
    {% for post in pages_list %}
    {% if post.title != null %}
    {% if group == null or group == post.group %}
    {% include postbox.html %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% else %}
    <p>No posts found in the "Консолі" category.</p>
    {% endif %}
</div>
