---
title: "Categories"
layout: default
permalink: "/categories/services.html"
---

<div class="row listrecent">
    <div class="section-title col-md-12 mt-4">
        <h2 id="services">Категорія <span class="text-capitalize">Послуги</span></h2>
    </div>

    {% assign pages_list = site.categories['Послуги'] %}
    {% for post in pages_list %}
    {% if post.title != null %}
    {% if group == null or group == post.group %}
    {% include postbox.html %}
    {% endif %}
    {% endif %}
    {% endfor %}

</div>
